# OS files
.DS_Store
Thumbs.db
desktop.ini

# Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Build artifacts
*.zip
*.tar.gz

# Local config & Docker
wp-config.php
docker-compose.yml
docker-compose*.yml
